/.DS_Store
/.env
/.localized
/717S Girls Riding Boots A+页面设计要求_060.xlsx
/717S Girls Riding Boots A+页面设计要求_0601.xlsx
/717S Girls Riding Boots A+页面设计要求_0606.xlsx
/717S Girls Riding Boots A+页面设计要求_0609.xlsx
/A+页面设计要求-A506_Women_Classic_Sandals_021523_B.xlsx
/B07YPKK8LL - Dearfoams Women's Fireside Shearling Water Resista 2023-06-11 (1).csv
/B07YPKK8LL - Dearfoams Women's Fireside Shearling Water Resista 2023-06-11 (2).csv
/B07YPKK8LL - Dearfoams Women's Fireside Shearling Water Resista 2023-06-11.csv
/Chatgpt_AmazonListing_Review_Analysis.ipynb
/IMG_0129.jpg
/IMG_0309.jpg
/IMG_0370.heic
/IMG_0371 2.heic
/IMG_0371 3.heic
/IMG_0371.heic
/IMG_0372 2.heic
/IMG_0372 2.jpg
/IMG_0372.heic
/IMG_0373 2.HEIC
/IMG_0373.HEIC
/IMG_0452.HEIC
/IMG_0452.jpg
/IMG_0470 2.heic
/IMG_0470 2.jpg
/IMG_0470.heic
/IMG_0470.jpg
/IMG_0471.HEIC
/IMG_0471.jpg
/IMG_0472.HEIC
/IMG_0472.jpg
/IMG_0482.jpg
/IMG_0483.jpg
/IMG_0484.jpg
/IMG_07E1D78AAF72-1.jpeg
/IMG_2975F84A3FE7-1.jpeg
/IMG_47AF02DC01CB-1.jpeg
/IMG_670C928AEB75-1.jpeg
/IMG_84317D5C0814-1.jpeg
/IMG_BD2633EED43D-1.jpeg
/IMG_E2C4A8CC0B50-1.jpeg
/Install Spotify.app
/Kids冬季新款research_0619_B_未完成.xlsx
/Lark-darwin_arm64-6.4.5-signed.dmg
/New_Chatgpt_AmazonListing_Review_Analysis.ipynb
/Orrick - Task 1 client emails.docx
/PPT Newspaper articles Task 1 (new).pptx
/People Who Did Exceptionally Well on the LSAT.doc
/Research品牌链接参考_041423.xlsx
/Scale-Zeitgeist-AI-Readiness-Report-2023.pdf
/Task 1 client voicemail.docx
/Task 1 template.docx
/WDS2315_New BB Walking Shoes_0425.xlsx
/WDS2322- 初版修改意见_女款毛凉鞋PU凉鞋新款_0609.xlsx
/WPS Office Installer.app
/amazon成人女凉鞋分析_051823_B.xlsx
/chatgpt_aaa.py
/chatgpt_amazonlisting_review_analysis.py
/git-2.15.0-intel-universal-mavericks.dmg-2.download
/git-2.15.0-intel-universal-mavericks.dmg-3.download
/git-2.15.0-intel-universal-mavericks.dmg.download
/git-2.23.0-intel-universal-mavericks.dmg
/googlechrome-2.dmg
/googlechrome-3.dmg
/googlechrome-4.dmg
/googlechrome.dmg
/label.pdf
/main.py
/python-3.11.4-macos11.pkg
/新款A+拍照_060623_B.xlsx
/新款A+拍照_060723_B.xlsx